body {
	height: 100vh;
	width: 100%;
	background: linear-gradient(to right, #2c5364, #203a43, #0f2027);
	height: 100vh;
	color: #fff;
}

section {
	display: flex;
	justify-content: center;
	align-items: center;
	width: fit-content;
	padding: 1em;
	border-radius: 30px;
}

#reg-form>* {
	padding: 10px;
}

#reg-form>div input,
#reg-form>div button,
button.submit,
input {
	color: #333;
	font-size: 1.2rem;
	margin: 1em;
	padding: .5em;
	border-radius: 0.3rem;
	background-color: rgb(255, 255, 255);
	width: 90%;
	display: block;
}

.msg {
	display: flex;
	flex-direction: column;
	margin-bottom: 1.5em;
	padding: .5em;
	border-radius: 10px;
	color: rebeccapurple;
}

.msg.right {
	background: burlywood;
}

.msg.left {
	background: lightskyblue;
}

.right.title,
.left.title {
    font-weight: bold;
    font-size: larger;
}

.right {
	text-align: end;
}

.left {
	text-align: start;
}

#signError {
	color: tomato;
}

legend {
	font-size: x-large;
	text-align: center;
}

button {
	background-color: wheat;
	padding: .5em 1em;
}

a {
	background-color: red;
	box-shadow: 0 5px 0 darkred;
	color: white;
	padding: 1em 1.5em;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover {
	background-color: #ce0606;
	cursor: pointer;
}

a:active {
	box-shadow: none;
	top: 5px;
}